body
.hello{text-align: center;}
h2{text-align: left;font-size: 40px;color: blue;}
.abc{font-size: 20px;text-align: left;color: blue;}
ul{list-style:disc;}
.nol{color: red;}
.efg{font-family: "Meiryo",serif;
font-size: 40px;}
.xyz{color: yellow}